<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bird Feeder</title>
        <link rel="stylesheet" href="/static/css/style.css" />
        <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
        <script src="/static/js/bundle.js" defer></script>
        <!-- import data visualization libraries -->
        <script src="https://cdn.syncfusion.com/ej2/17.4.51/dist/ej2.min.js"></script>
        <link
            href="https://cdn.syncfusion.com/ej2/material.css"
            rel="stylesheet"
        />
        <script src="https://cdn.syncfusion.com/ej2/17.4.51/dist/ej2-circulargauge.min.js"></script>
        <script src="https://cdn.syncfusion.com/ej2/17.4.51/dist/ej2-dropdowns.min.js"></script>
    </head>
    <body>
        <section class="grid-container">
            <div class="latest-image">
                <div id="image">
                    <img src="/static/images/preload.jpg" alt="bird" />
                    <span id="time">2023.5.1 3:10</span>
                </div>
            </div>

            <div class="sensors">
                <!-- <div class="title">
                    <h2>Current Sensors Data</h2>
                </div> -->
                <div class="sensors-container">
                    <div class="network">
                        <!-- Elkie’part S -->
                        <div class="gauge-n" id="NetworkVisual"></div>
                        <p>Signal</p>
                        <!-- Elkie’part E -->
                    </div>

                    <div class="light">
                        <div class="gauge-l" id="lightVisual">
                            <img src="/static/images/daynight.png" />
                        </div>
                    </div>
                    <div class="cpuTemp">
                        <div class="gauge-c" id="cpuTempVisual"></div>
                        <p>CPU Temperature</p>
                    </div>
                </div>
            </div>

            <div class="weather-today">
                <div class="title">
                    <h2>Weather Today</h2>
                    <div class="btn-slide">
                        <label class="sc-fzokOt hqCryO"
                            ><span class="off">F</span>
                            <div
                                class="sc-fzqBZW bzpPMg"
                                style="transform: translateX(0px)"
                            ></div
                        ></label>
                    </div>
                </div>

                <div class="temperature flayout3">
                    <!-- <span>temperature_f:</span><span id="temperature_f">0</span> -->
                    <div id="weatherToday"></div>
                    <span id="temperature_c">0</span><sup class="t-unit">°</sup>

                    <!-- Elkie’part S -->
                    <div class="humidity">
                        <div class="gauge" id="humidityVisual"></div>
                        <p>Humidity</p>
                    </div>

                    <!-- Elkie’part E -->
                </div>
            </div>

            <div class="other-picture">4</div>
            <div class="other-picture">5</div>
            <div class="other-picture">6</div>
            <div class="other-picture">7</div>

            <div class="weather-forecast">
                <div class="title">
                    <h2>Weather Forecast</h2>
                </div>
                <div id="weather"></div>
            </div>
        </section>
    </body>
</html>
